<h1>Editing Employee</h1>
<head>
  <meta charset="utf-8">
  <title>Stackfindover: Sign in</title>
  <%= stylesheet_link_tag "k.css" %>
</head>
<%= render 'form', employee: @employee %>

<%= link_to 'Show', @employee %> |
<%= link_to 'Back', employees_path %>
