<h1>Editing Company</h1>
<head>
  <meta charset="utf-8">
  <title>Stackfindover: Sign in</title>
  <%= stylesheet_link_tag "k.css" %>
</head>

<%= render 'form', company: @company %>

<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %>
