<head>
  <meta charset="utf-8">
  <title>Stackfindover: Sign in</title>
  <%= stylesheet_link_tag "k.css" %>
</head>
<h1><a href="http://blog.stackfindover.com/" rel="dofollow">New Company</a></h1>
<%= render 'form', company: @company %>

<%= link_to 'Back', companies_path %>
